# Load packages

In [152]:
import re
import json
from pathlib import Path
import pandas as pd
import numpy as np

In [153]:
!pwd

/storage/users/job37yv/Projects/Cardiomyopathy/scripts

# Data Loading

In [177]:
import pandas as pd

# Path to your Excel file (relative to your scripts folder)
file_path = "../data/raw_data/Johannes_Version-2-qc.xlsx"

# Load with header rows (the real header starts at row 3, so use header=2)
df_raw = pd.read_excel(file_path, sheet_name=0, header=0)

# Drop the first repeated header row
df_raw = df_raw.iloc[1:, :]

df_raw.head(40)

,Patients,"Group (1=diabetic neuropathy, 2=diabetes without neuropathy, 0=control)",diabetes type,age,sex,Duration of Disease (months),SNAP (sural nerve),HbA1c (%),NIS-LL,SAS,NPSI,IENFD(per mm),"NF155 periodicity, mean (±SD)","NF186 periodicity, mean (±SD)","Caspr1 periodicity , mean (±SD)"
1,DB28513,1,2,66.0,male,75,0,4.9,15,32.0,33.0,1.93,413.51 (±167),413.51(±167),532.12(±157)
2,DB45913,2,2,63.0,male,11,34.3,5.3,0,2.0,0.0,3.76,542.21 (±152),542.21(±152),189.21(±81)
3,DB67312,2,2,72.0,male,180,6.3,7.8,1,0.0,0.0,1.72,NaN,NaN,231.60(±92)
4,DB85312,1,2,70.0,male,18,3.1,7,13,1.0,5.0,1.06,387.41 (±160),387.41(±160),316(±145)
5,DB6213,2,2,54.0,male,144,13.4,7.1,0,12.0,0.0,3.38,226.49 (±58),226.49 (±58),299.43(±135)
6,DB10613,1,2,69.0,male,11,2,9.8,5,10.0,12.0,0.25,311.98587 (±107),311.98587 (±107),331.21(±136)
7,DB82112,1,2,61.0,male,1,6.5,6.8,2,2.0,0.0,1.21,275.00(±100),275.00(±100),314.86 (±156)
8,DB553/13,1,2,73.0,male,180,2.8,6.8,3,17.0,0.0,2.67,420.90 (±225),420.90 (±225),331.44 (±156)
9,DB1034/13,1,2,55.0,male,0,4,"6,1",23,17.0,34.0,0,600,600,600
10,DB1091/13,1,1,54.0,male,252,8.6,7.1,25,28.0,49.0,6.52,456(±153),456(±153),511.12(±147)
11,DB11/14,1,2,71.0,male,144,3.58,6.9,7,6.0,0.0,5.98,293.13 (±175),293.13 (±175),291.35 (±116)
12,DB67/14,2,1,56.0,male,360,"10,1",8,0,0.0,0.0,"4,91",600,600,600
13,DB374/14,1,2,56.0,male,60,8.3,6.2,0,5.0,33.0,1,NaN,NaN,317.91 (±112)
14,DB385/14,1,2,84.0,female,156,0,"7,1",6,0.0,12.0,"1,91",600,600,600
15,DB420/14,1,2,72.0,male,120,"3,1","6,6",7,6.0,0.0,"3,03",308.91(±159),308.91(±159),310.50 (±143)
16,DB468/14,1,2,80.0,male,168,0,"6,1",6,5.0,7.0,"0,14",369.97 (±145),369.97 (±145),NaN
17,DB573/14,1,2,72.0,female,24,"3,5",6,9,3.0,0.0,"12,06",423.20 (±232),423.20 (±232),228.86(±56)
18,DB664/14,1,2,73.0,male,108,"1,6","8,1","10,5",8.0,0.0,"5,69",327.62(±161),327.62(±161),278.06 (±115)
19,DB94513,2,1,22.0,male,36,NaN,6.9,0,0.0,0.0,5.34,253.19 (±113),253.19 (±113),280.91 (±94)
20,DB83813,2,2,35.0,male,132,13.1,5.8,0,3.0,0.0,5.11,306.60 (±119),306.60 (±119),288.27 (±113)
21,DB81513,2,2,67.0,female,36,NaN,9,5,2.0,0.0,9.58,NaN,NaN,313.31 (±145)
22,DB10913,1,2,69.0,male,12,NaN,9.8,5,10.0,12.0,0.25,NaN,NaN,281.40 (±128)
23,HC54813,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,6.71,NaN,NaN,200.74 (±26)
24,HC114014,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,186.97661(±15),186.97661(±15),205.34(±25)
25,HC18623,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,189.57(±32),189.57(±32),175.42(±40)
26,HC54013,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,4.4,174.72118(±42),174.72118(±42),250.75(±88)
27,HC28213,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,2.76,222.46(±45),222.46(±45),223.23 (±54)
28,HC87113,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,6.21,186.28 (±41),186.28 (±41),NaN
29,HC91813,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,10.03,211.57 (±62),211.57 (±62),NaN
30,HC47814,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,179.23 (±23),179.23 (±23),229.42 (±37)
31,HC73512,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,209.19 (±65),209.19 (±65),214.24 (±49)
32,HC8413,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,239.88(±102),239.88(±102),200.97 (±83)
33,HC8813,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,181.36(±39),181.36(±39),248.23 (±57)
34,HC36014,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,216.80(±59),216.80(±59),189.75 (±41)
35,HC52414,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,252.82 (±58),252.82 (±58),205.11 (±44)
36,HC56614,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,180.66 (±43),180.66 (±43),174.10 (±66)

# Data cleaning

In [178]:
# --- Keep a pristine copy for comparison if you want to sanity-check later ---
df = df_raw.copy()


# --- Normalize headers (no semantic change) ---
def _norm(s: str) -> str:
    s = str(s)
    s = re.sub(r"\s+", " ", s).strip()
    s = re.sub(r"\s+,", ",", s)
    return s

df.columns = [_norm(c) for c in df.columns]

# --- Rename (short names) ---
df = df.rename(columns={
    "Patients": "patient_id",
    "Group (1=diabetic neuropathy, 2=diabetes without neuropathy, 0=control)": "group",
    "diabetes type": "diabetes_type",
    "age": "age",
    "sex": "sex",
    "Duration of Disease (months)": "duration_months",
    "SNAP (sural nerve)": "snap_sural_nerve",
    "HbA1c (%)": "hba1c_pct",
    "NIS-LL": "nis_ll",
    "SAS": "sas",
    "NPSI": "npsi",
    "IENFD(per mm)": "ienfd_per_mm",
    "NF155 periodicity, mean (±SD)": "nf155_mean_nm",
    "NF186 periodicity, mean (±SD)": "nf186_mean_nm",
    "Caspr1 periodicity, mean (±SD)": "caspr1_mean_nm",
})


df.head(40)

,patient_id,group,diabetes_type,age,sex,duration_months,snap_sural_nerve,hba1c_pct,nis_ll,sas,npsi,ienfd_per_mm,nf155_mean_nm,nf186_mean_nm,caspr1_mean_nm
1,DB28513,1,2,66.0,male,75,0,4.9,15,32.0,33.0,1.93,413.51 (±167),413.51(±167),532.12(±157)
2,DB45913,2,2,63.0,male,11,34.3,5.3,0,2.0,0.0,3.76,542.21 (±152),542.21(±152),189.21(±81)
3,DB67312,2,2,72.0,male,180,6.3,7.8,1,0.0,0.0,1.72,NaN,NaN,231.60(±92)
4,DB85312,1,2,70.0,male,18,3.1,7,13,1.0,5.0,1.06,387.41 (±160),387.41(±160),316(±145)
5,DB6213,2,2,54.0,male,144,13.4,7.1,0,12.0,0.0,3.38,226.49 (±58),226.49 (±58),299.43(±135)
6,DB10613,1,2,69.0,male,11,2,9.8,5,10.0,12.0,0.25,311.98587 (±107),311.98587 (±107),331.21(±136)
7,DB82112,1,2,61.0,male,1,6.5,6.8,2,2.0,0.0,1.21,275.00(±100),275.00(±100),314.86 (±156)
8,DB553/13,1,2,73.0,male,180,2.8,6.8,3,17.0,0.0,2.67,420.90 (±225),420.90 (±225),331.44 (±156)
9,DB1034/13,1,2,55.0,male,0,4,"6,1",23,17.0,34.0,0,600,600,600
10,DB1091/13,1,1,54.0,male,252,8.6,7.1,25,28.0,49.0,6.52,456(±153),456(±153),511.12(±147)
11,DB11/14,1,2,71.0,male,144,3.58,6.9,7,6.0,0.0,5.98,293.13 (±175),293.13 (±175),291.35 (±116)
12,DB67/14,2,1,56.0,male,360,"10,1",8,0,0.0,0.0,"4,91",600,600,600
13,DB374/14,1,2,56.0,male,60,8.3,6.2,0,5.0,33.0,1,NaN,NaN,317.91 (±112)
14,DB385/14,1,2,84.0,female,156,0,"7,1",6,0.0,12.0,"1,91",600,600,600
15,DB420/14,1,2,72.0,male,120,"3,1","6,6",7,6.0,0.0,"3,03",308.91(±159),308.91(±159),310.50 (±143)
16,DB468/14,1,2,80.0,male,168,0,"6,1",6,5.0,7.0,"0,14",369.97 (±145),369.97 (±145),NaN
17,DB573/14,1,2,72.0,female,24,"3,5",6,9,3.0,0.0,"12,06",423.20 (±232),423.20 (±232),228.86(±56)
18,DB664/14,1,2,73.0,male,108,"1,6","8,1","10,5",8.0,0.0,"5,69",327.62(±161),327.62(±161),278.06 (±115)
19,DB94513,2,1,22.0,male,36,NaN,6.9,0,0.0,0.0,5.34,253.19 (±113),253.19 (±113),280.91 (±94)
20,DB83813,2,2,35.0,male,132,13.1,5.8,0,3.0,0.0,5.11,306.60 (±119),306.60 (±119),288.27 (±113)
21,DB81513,2,2,67.0,female,36,NaN,9,5,2.0,0.0,9.58,NaN,NaN,313.31 (±145)
22,DB10913,1,2,69.0,male,12,NaN,9.8,5,10.0,12.0,0.25,NaN,NaN,281.40 (±128)
23,HC54813,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,6.71,NaN,NaN,200.74 (±26)
24,HC114014,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,186.97661(±15),186.97661(±15),205.34(±25)
25,HC18623,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,189.57(±32),189.57(±32),175.42(±40)
26,HC54013,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,4.4,174.72118(±42),174.72118(±42),250.75(±88)
27,HC28213,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,2.76,222.46(±45),222.46(±45),223.23 (±54)
28,HC87113,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,6.21,186.28 (±41),186.28 (±41),NaN
29,HC91813,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,10.03,211.57 (±62),211.57 (±62),NaN
30,HC47814,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,179.23 (±23),179.23 (±23),229.42 (±37)
31,HC73512,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,209.19 (±65),209.19 (±65),214.24 (±49)
32,HC8413,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,239.88(±102),239.88(±102),200.97 (±83)
33,HC8813,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,181.36(±39),181.36(±39),248.23 (±57)
34,HC36014,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,216.80(±59),216.80(±59),189.75 (±41)
35,HC52414,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,252.82 (±58),252.82 (±58),205.11 (±44)
36,HC56614,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,180.66 (±43),180.66 (±43),174.10 (±66)

In [180]:

# --- Columns you want to be numeric (edit if needed) ---
numeric_cols = [
    "group","diabetes_type","age","duration_months","snap_sural_nerve","hba1c_pct",
    "nis_ll","sas","npsi","ienfd_per_mm",
    "nf155_mean_nm","nf186_mean_nm","caspr1_mean_nm"
]

# --- Robust "keep the first number, drop the rest" parser ---
_num_re = re.compile(r'[-+]?\d*\.?\d+(?:[eE][-+]?\d+)?')  # first numeric token

def extract_mean(x):
    if pd.isna(x):
        return np.nan
    s = str(x).strip().replace(",", ".")  # handle European decimals
    m = _num_re.search(s)
    return float(m.group(0)) if m else np.nan

# --- Convert IN PLACE (no filling, NaN stays NaN) ---
for c in numeric_cols:
    if c in df.columns:
        df[c] = df[c].apply(extract_mean).astype(float)

# (Optional) if you want to *preserve* the raw text and write numeric to *_num instead:
# for c in numeric_cols:
#     if c in df.columns:
#         df[c + "_num"] = df[c].apply(extract_mean).astype(float)

# Quick sanity check
print(df[numeric_cols].dtypes)
print(df.loc[:, ["nf155_mean_nm","nf186_mean_nm","caspr1_mean_nm"]].head(10))

df.head(40)

group               float64
diabetes_type       float64
age                 float64
duration_months     float64
snap_sural_nerve    float64
hba1c_pct           float64
nis_ll              float64
sas                 float64
npsi                float64
ienfd_per_mm        float64
nf155_mean_nm       float64
nf186_mean_nm       float64
caspr1_mean_nm      float64
dtype: object
    nf155_mean_nm  nf186_mean_nm  caspr1_mean_nm
1       413.51000      413.51000          532.12
2       542.21000      542.21000          189.21
3             NaN            NaN          231.60
4       387.41000      387.41000          316.00
5       226.49000      226.49000          299.43
6       311.98587      311.98587          331.21
7       275.00000      275.00000          314.86
8       420.90000      420.90000          331.44
9       600.00000      600.00000          600.00
10      456.00000      456.00000          511.12

,patient_id,group,diabetes_type,age,sex,duration_months,snap_sural_nerve,hba1c_pct,nis_ll,sas,npsi,ienfd_per_mm,nf155_mean_nm,nf186_mean_nm,caspr1_mean_nm
1,DB28513,1.0,2.0,66.0,male,75.0,0.00,4.9,15.0,32.0,33.0,1.93,413.51000,413.51000,532.12
2,DB45913,2.0,2.0,63.0,male,11.0,34.30,5.3,0.0,2.0,0.0,3.76,542.21000,542.21000,189.21
3,DB67312,2.0,2.0,72.0,male,180.0,6.30,7.8,1.0,0.0,0.0,1.72,NaN,NaN,231.60
4,DB85312,1.0,2.0,70.0,male,18.0,3.10,7.0,13.0,1.0,5.0,1.06,387.41000,387.41000,316.00
5,DB6213,2.0,2.0,54.0,male,144.0,13.40,7.1,0.0,12.0,0.0,3.38,226.49000,226.49000,299.43
6,DB10613,1.0,2.0,69.0,male,11.0,2.00,9.8,5.0,10.0,12.0,0.25,311.98587,311.98587,331.21
7,DB82112,1.0,2.0,61.0,male,1.0,6.50,6.8,2.0,2.0,0.0,1.21,275.00000,275.00000,314.86
8,DB553/13,1.0,2.0,73.0,male,180.0,2.80,6.8,3.0,17.0,0.0,2.67,420.90000,420.90000,331.44
9,DB1034/13,1.0,2.0,55.0,male,0.0,4.00,6.1,23.0,17.0,34.0,0.00,600.00000,600.00000,600.00
10,DB1091/13,1.0,1.0,54.0,male,252.0,8.60,7.1,25.0,28.0,49.0,6.52,456.00000,456.00000,511.12
11,DB11/14,1.0,2.0,71.0,male,144.0,3.58,6.9,7.0,6.0,0.0,5.98,293.13000,293.13000,291.35
12,DB67/14,2.0,1.0,56.0,male,360.0,10.10,8.0,0.0,0.0,0.0,4.91,600.00000,600.00000,600.00
13,DB374/14,1.0,2.0,56.0,male,60.0,8.30,6.2,0.0,5.0,33.0,1.00,NaN,NaN,317.91
14,DB385/14,1.0,2.0,84.0,female,156.0,0.00,7.1,6.0,0.0,12.0,1.91,600.00000,600.00000,600.00
15,DB420/14,1.0,2.0,72.0,male,120.0,3.10,6.6,7.0,6.0,0.0,3.03,308.91000,308.91000,310.50
16,DB468/14,1.0,2.0,80.0,male,168.0,0.00,6.1,6.0,5.0,7.0,0.14,369.97000,369.97000,NaN
17,DB573/14,1.0,2.0,72.0,female,24.0,3.50,6.0,9.0,3.0,0.0,12.06,423.20000,423.20000,228.86
18,DB664/14,1.0,2.0,73.0,male,108.0,1.60,8.1,10.5,8.0,0.0,5.69,327.62000,327.62000,278.06
19,DB94513,2.0,1.0,22.0,male,36.0,NaN,6.9,0.0,0.0,0.0,5.34,253.19000,253.19000,280.91
20,DB83813,2.0,2.0,35.0,male,132.0,13.10,5.8,0.0,3.0,0.0,5.11,306.60000,306.60000,288.27
21,DB81513,2.0,2.0,67.0,female,36.0,NaN,9.0,5.0,2.0,0.0,9.58,NaN,NaN,313.31
22,DB10913,1.0,2.0,69.0,male,12.0,NaN,9.8,5.0,10.0,12.0,0.25,NaN,NaN,281.40
23,HC54813,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,6.71,NaN,NaN,200.74
24,HC114014,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,186.97661,186.97661,205.34
25,HC18623,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,189.57000,189.57000,175.42
26,HC54013,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,4.40,174.72118,174.72118,250.75
27,HC28213,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.76,222.46000,222.46000,223.23
28,HC87113,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,6.21,186.28000,186.28000,NaN
29,HC91813,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,10.03,211.57000,211.57000,NaN
30,HC47814,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,179.23000,179.23000,229.42
31,HC73512,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,209.19000,209.19000,214.24
32,HC8413,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,239.88000,239.88000,200.97
33,HC8813,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,181.36000,181.36000,248.23
34,HC36014,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,216.80000,216.80000,189.75
35,HC52414,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,252.82000,252.82000,205.11
36,HC56614,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,180.66000,180.66000,174.10

# remove columns with to mcuh NaN

In [181]:
# columns you want to exclude from analysis
EXCLUDE = ["age","sex","sex_bin","snap_sural_nerve","hba1c_pct","nis_ll","sas","npsi"]

# keep the original df untouched; use df_use for all downstream analysis
df_use = df.drop(columns=EXCLUDE, errors="ignore").copy()

print("Columns kept for analysis:", list(df_use.columns))
print("Dropped:", [c for c in EXCLUDE if c in df.columns])

Columns kept for analysis: ['patient_id', 'group', 'diabetes_type', 'duration_months', 'ienfd_per_mm', 'nf155_mean_nm', 'nf186_mean_nm', 'caspr1_mean_nm']
Dropped: ['age', 'sex', 'snap_sural_nerve', 'hba1c_pct', 'nis_ll', 'sas', 'npsi']

In [183]:
df_use.head(40)

,patient_id,group,diabetes_type,duration_months,ienfd_per_mm,nf155_mean_nm,nf186_mean_nm,caspr1_mean_nm
1,DB28513,1.0,2.0,75.0,1.93,413.51000,413.51000,532.12
2,DB45913,2.0,2.0,11.0,3.76,542.21000,542.21000,189.21
3,DB67312,2.0,2.0,180.0,1.72,NaN,NaN,231.60
4,DB85312,1.0,2.0,18.0,1.06,387.41000,387.41000,316.00
5,DB6213,2.0,2.0,144.0,3.38,226.49000,226.49000,299.43
6,DB10613,1.0,2.0,11.0,0.25,311.98587,311.98587,331.21
7,DB82112,1.0,2.0,1.0,1.21,275.00000,275.00000,314.86
8,DB553/13,1.0,2.0,180.0,2.67,420.90000,420.90000,331.44
9,DB1034/13,1.0,2.0,0.0,0.00,600.00000,600.00000,600.00
10,DB1091/13,1.0,1.0,252.0,6.52,456.00000,456.00000,511.12
11,DB11/14,1.0,2.0,144.0,5.98,293.13000,293.13000,291.35
12,DB67/14,2.0,1.0,360.0,4.91,600.00000,600.00000,600.00
13,DB374/14,1.0,2.0,60.0,1.00,NaN,NaN,317.91
14,DB385/14,1.0,2.0,156.0,1.91,600.00000,600.00000,600.00
15,DB420/14,1.0,2.0,120.0,3.03,308.91000,308.91000,310.50
16,DB468/14,1.0,2.0,168.0,0.14,369.97000,369.97000,NaN
17,DB573/14,1.0,2.0,24.0,12.06,423.20000,423.20000,228.86
18,DB664/14,1.0,2.0,108.0,5.69,327.62000,327.62000,278.06
19,DB94513,2.0,1.0,36.0,5.34,253.19000,253.19000,280.91
20,DB83813,2.0,2.0,132.0,5.11,306.60000,306.60000,288.27
21,DB81513,2.0,2.0,36.0,9.58,NaN,NaN,313.31
22,DB10913,1.0,2.0,12.0,0.25,NaN,NaN,281.40
23,HC54813,0.0,0.0,0.0,6.71,NaN,NaN,200.74
24,HC114014,0.0,0.0,0.0,NaN,186.97661,186.97661,205.34
25,HC18623,0.0,0.0,0.0,NaN,189.57000,189.57000,175.42
26,HC54013,0.0,0.0,0.0,4.40,174.72118,174.72118,250.75
27,HC28213,0.0,0.0,0.0,2.76,222.46000,222.46000,223.23
28,HC87113,0.0,0.0,0.0,6.21,186.28000,186.28000,NaN
29,HC91813,0.0,0.0,0.0,10.03,211.57000,211.57000,NaN
30,HC47814,0.0,0.0,0.0,NaN,179.23000,179.23000,229.42
31,HC73512,0.0,0.0,0.0,NaN,209.19000,209.19000,214.24
32,HC8413,0.0,0.0,0.0,NaN,239.88000,239.88000,200.97
33,HC8813,0.0,0.0,0.0,NaN,181.36000,181.36000,248.23
34,HC36014,0.0,0.0,0.0,NaN,216.80000,216.80000,189.75
35,HC52414,0.0,0.0,0.0,NaN,252.82000,252.82000,205.11
36,HC56614,0.0,0.0,0.0,NaN,180.66000,180.66000,174.10

In [ ]:
#

checks for leak/perfect separation

runs univariate non-parametric diagnostics (MWU, bootstrap AUC + 95% CI, Youden cutoff with sens/spec)

makes boxplots + ROC for top features

(optional) fits a tiny, interpretable decision tree (depth≤2) per task

In [184]:
# ============================================
# NaN-aware diagnostics: Healthy vs patient tasks
# ============================================
import os, numpy as np, pandas as pd, matplotlib.pyplot as plt
from scipy.stats import mannwhitneyu
from sklearn.metrics import roc_auc_score, roc_curve, confusion_matrix
from sklearn.model_selection import LeaveOneOut, cross_val_predict
from sklearn.tree import DecisionTreeClassifier, export_text

# ---------- config ----------
OUT = "../analysis/group-diagnostics"
FIGDIR = f"{OUT}/figs"
os.makedirs(FIGDIR, exist_ok=True)

# your available columns in df_use:
# ['patient_id','group','diabetes_type','duration_months','ienfd_per_mm',
#  'nf155_mean_nm','nf186_mean_nm','caspr1_mean_nm']

FEATURES = ["duration_months","ienfd_per_mm","nf155_mean_nm","nf186_mean_nm","caspr1_mean_nm"]
MIN_SAMPLES = 8
B = 2000
RNG = np.random.default_rng(42)

# 0=control, 1=DM+neuropathy, 2=DM-no-neuropathy
def make_task(task, s):
    s = pd.to_numeric(s, errors="coerce")
    if task == "A_anyDM_vs_control":        # (1 or 2) vs 0
        return s.map({0:0,1:1,2:1})
    if task == "B_neuropathy_vs_others":    # 1 vs (0 or 2)
        return s.map({1:1,0:0,2:0})
    if task == "C_neuropathy_vs_DMonly":    # 1 vs 2 (drop 0)
        return s.replace({0:np.nan}).map({1:1,2:0})
    raise ValueError

TASKS = ["A_anyDM_vs_control","B_neuropathy_vs_others","C_neuropathy_vs_DMonly"]

# ---------- helpers (NaN-aware, per-comparison masks) ----------
def best_orientation(x, y):
    x = np.asarray(x, float); y = np.asarray(y, int)
    m = ~np.isnan(x) & ~np.isnan(y)
    x = x[m]; y = y[m]
    if np.unique(y).size < 2:
        return x, y, ">="
    auc = roc_auc_score(y, x)
    return (x, y, ">=") if auc >= 0.5 else (-x, y, "<=")

def youden(y, s):
    fpr, tpr, thr = roc_curve(y, s)
    j = tpr - fpr
    i = int(np.nanargmax(j))
    return float(thr[i]), float(tpr[i]), float(1 - fpr[i])

def boot_auc(y, s, B=2000, rng=None):
    rng = RNG if rng is None else rng
    m = ~np.isnan(y) & ~np.isnan(s)
    y = y[m].astype(int); s = s[m].astype(float)
    if y.nunique() < 2: return np.nan, (np.nan, np.nan)
    ip = np.where(y==1)[0]; ineg = np.where(y==0)[0]
    aucs = []
    for _ in range(B):
        bp = rng.choice(ip, len(ip), True)
        bn = rng.choice(ineg, len(ineg), True)
        yb = np.r_[np.ones(len(ip)), np.zeros(len(ineg))]
        sb = np.r_[s[bp], s[bn]]
        aucs.append(roc_auc_score(yb, sb))
    aucs = np.asarray(aucs)
    return float(np.nanmedian(aucs)), (float(np.nanpercentile(aucs,2.5)),
                                       float(np.nanpercentile(aucs,97.5)))

def mwu_auc(x0, x1):
    x0 = x0[~np.isnan(x0)]; x1 = x1[~np.isnan(x1)]
    if len(x0)==0 or len(x1)==0: return np.nan, np.nan
    U, p = mannwhitneyu(x1, x0, alternative="two-sided")
    auc = U / (len(x0)*len(x1))
    return float(p), float(auc)

def leak_flags(x, y):
    m = ~np.isnan(x) & ~np.isnan(y)
    x = x[m]; y = y[m].astype(int)
    if y.nunique() < 2: return False, False
    x0 = x[y==0]; x1 = x[y==1]
    if len(x0)==0 or len(x1)==0: return False, False
    perfect = (np.nanmax(x0) < np.nanmin(x1)) or (np.nanmax(x1) < np.nanmin(x0))
    def q(a): return np.nanpercentile(a, [5,95]) if len(a)>1 else (a.min(), a.max())
    q05_0, q95_0 = q(x0); q05_1, q95_1 = q(x1)
    near = (q95_0 < q05_1) or (q95_1 < q05_0)
    return bool(perfect), bool(near)

# ---------- 0) availability snapshot (per feature & task) ----------
avail_rows = []
for t in TASKS:
    y = make_task(t, df_use["group"])
    for f in FEATURES:
        n = int((~df_use[f].isna()) & (~y.isna())).sum()
        avail_rows.append({"task":t, "feature":f, "n_usable":n})
avail = pd.DataFrame(avail_rows)
print("Availability by task/feature (usable n after NaN masking):")
display(avail.pivot(index="feature", columns="task", values="n_usable"))

# ---------- 1) Univariate diagnostics (strict per-feature masks) ----------
rows = []
for t in TASKS:
    y = make_task(t, df_use["group"])
    for f in FEATURES:
        m = (~df_use[f].isna()) & (~y.isna())
        if m.sum() < MIN_SAMPLES: continue
        x = df_use.loc[m, f].astype(float).values
        yy = y.loc[m].astype(int).values
        # MWU/AUC (rank)
        x0 = x[yy==0]; x1 = x[yy==1]
        p_mwu, auc_mwu = mwu_auc(x0, x1)
        # orientation + Youden + bootstrap
        s, yy2, direction = best_orientation(x, yy)
        cut, sens, spec = youden(yy2, s)
        auc_med, (auc_lo, auc_hi) = boot_auc(pd.Series(yy2), pd.Series(s), B=B, rng=RNG)
        # leaks
        perfect, near = leak_flags(x, yy)
        rows.append(dict(task=t, feature=f, n=int(m.sum()),
                         MWU_p=p_mwu, MWU_AUC=auc_mwu,
                         AUC_boot=auc_med, AUC_lo=auc_lo, AUC_hi=auc_hi,
                         cut_youden=cut, rule_dir=direction,
                         sens_at_cut=sens, spec_at_cut=spec,
                         perfect_sep=perfect, near_sep_5_95=near))
univ = pd.DataFrame(rows).sort_values(["task","AUC_boot","MWU_AUC"], ascending=[True,False,False]).reset_index(drop=True)
os.makedirs(OUT, exist_ok=True)
univ.to_csv(f"{OUT}/univariate_by_task.csv", index=False)
print("\nTop univariates per task:")
display(univ.groupby("task").head(5))

# ---------- 2) Boxplot+ROC for the best few (per task), NaN-aware ----------
def plot_box_roc(df_, feat, y_bin, cut, direction, out_prefix):
    m = (~df_[feat].isna()) & (~y_bin.isna())
    x = df_.loc[m, feat].astype(float).values
    y = y_bin.loc[m].astype(int).values
    if np.unique(y).size < 2: return
    s, yy, _ = best_orientation(x, y)
    auc = roc_auc_score(yy, s)
    fpr, tpr, thr = roc_curve(yy, s)

    # box
    plt.figure(figsize=(5,4))
    plt.boxplot([x[y==0], x[y==1]], labels=["0","1"])
    if np.isfinite(cut):
        plt.axhline(cut, ls="--")
    op = ">=" if direction==">=" else "<="
    plt.title(f"{feat} | rule: {feat} {op} {cut:.3g}")
    plt.tight_layout(); plt.savefig(f"{out_prefix}_box.png", dpi=300); plt.close()

    # roc
    plt.figure(figsize=(5,4))
    plt.plot(fpr, tpr, lw=2)
    plt.plot([0,1],[0,1],"--")
    plt.title(f"ROC {feat} | AUC={auc:.3f}")
    plt.xlabel("FPR"); plt.ylabel("TPR")
    plt.tight_layout(); plt.savefig(f"{out_prefix}_roc.png", dpi=300); plt.close()

for t in TASKS:
    y = make_task(t, df_use["group"])
    top = univ[univ["task"]==t].sort_values("AUC_boot", ascending=False).head(3)
    for _, r in top.iterrows():
        plot_box_roc(df_use, r["feature"], y, r["cut_youden"], r["rule_dir"], f"{FIGDIR}/{t}_{r['feature']}")

# ---------- 3) Clean “Healthy vs Any DM” summary table with cutoffs ----------
def fmt_auc(a, lo, hi):
    return "NA" if not np.isfinite(a) else f"{a:.2f} [{lo:.2f}–{hi:.2f}]"

tabA = (univ[univ["task"]=="A_anyDM_vs_control"]
        .sort_values("AUC_boot", ascending=False)
        .loc[:, ["feature","n","AUC_boot","AUC_lo","AUC_hi","cut_youden","rule_dir","sens_at_cut","spec_at_cut","perfect_sep","near_sep_5_95"]])

nice = []
for _, r in tabA.iterrows():
    nice.append({
        "Feature": r["feature"],
        "n used": int(r["n"]),
        "AUC [95% CI]": fmt_auc(r["AUC_boot"], r["AUC_lo"], r["AUC_hi"]),
        "Youden cutoff": f"{r['rule_dir']} {r['cut_youden']:.3g}" if np.isfinite(r["cut_youden"]) else "NA",
        "Sensitivity": f"{r['sens_at_cut']:.2f}" if np.isfinite(r["sens_at_cut"]) else "NA",
        "Specificity": f"{r['spec_at_cut']:.2f}" if np.isfinite(r["spec_at_cut"]) else "NA",
        "Leak flag": "P" if r["perfect_sep"] else ("Near" if r["near_sep_5_95"] else "")
    })
summaryA = pd.DataFrame(nice)
display(summaryA)
summaryA.to_csv(f"{OUT}/A_anyDM_vs_control_cutoffs.csv", index=False)

# ---------- 4) Tiny decision tree (depth<=2), NaN-wise intersection mask ----------
def tiny_tree(task, feats, max_depth=2, min_leaf=3):
    y = make_task(task, df_use["group"])
    m = y.notna()
    for f in feats: m &= df_use[f].notna()
    if m.sum() < MIN_SAMPLES or y[m].nunique() < 2:
        print(f"[{task}] Not enough data for feats={feats} (n={int(m.sum())})"); return
    X = df_use.loc[m, feats].astype(float).values
    yy = y.loc[m].astype(int).values
    clf = DecisionTreeClassifier(max_depth=max_depth, min_samples_leaf=min_leaf, random_state=42)
    # LOOCV prediction **only on rows that have all feats**:
    y_prob = cross_val_predict(clf, X, yy, cv=LeaveOneOut(), method="predict_proba")[:,1]
    y_pred = (y_prob >= 0.5).astype(int)
    auc = roc_auc_score(yy, y_prob)
    cm = confusion_matrix(yy, y_pred)
    clf.fit(X, yy)
    print(f"\n=== Tiny tree {task} | feats={feats} | n={len(yy)} | LOOCV AUC={auc:.3f}")
    print("CM (rows=true, cols=pred):\n", cm)
    print(export_text(clf, feature_names=feats, decimals=3))

# choose the top-2 non-leaky features for each task (by AUC)
for t in TASKS:
    cand = (univ[(univ["task"]==t) & (~univ["perfect_sep"])]
                .sort_values("AUC_boot", ascending=False)["feature"].tolist())
    feats = cand[:2] if len(cand)>=2 else cand
    if feats: tiny_tree(t, feats, max_depth=2, min_leaf=3)

TypeError: cannot convert the series to <class 'int'>